
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h2>Mi nombre es Estela Petrillo</h2>
 <h2>Tengo 57 años y hace mas de 25, hice cursos de programacion </h2>
 <h2>2 años en la carrera de ingenieria en sistemas, y reparacion de pc.</h2>
 <h2>Cuestiones familiares no permitieron que me dedicara a nada de esto que es lo que me gusta, y el paso del tiempo hizo
 que me olvide de todo lo aprendido y ademas quede desactualizada en todos los cambios gigantes que se 
 desarrollaron en este ambito.</h2>
 <h2>Hoy en dia trabajo como empleada en salud y deseo hacer otra cosa. Al inscribirme en este curso
 mi deseo era dedicarme a la programacion en algun momento.</h2>
 <h2>Se que solo fue el primer paso para reactivar recuerdos de lo que he olvidado,
 adquirir conocimientos nuevos, y seguir buscando aprender mas.</h2> 
 <h2>El tema que elegi para este trabajo esta orientado a mostrar mi hobbie, que tambien puede verse como un emprendimiento</h2>
</body>
</html>
<a href="{% url 'vyj-index' %}">Volver</a>

