{% extends 'vyj/base.html' %}

{% block contenido %}


{% if user.is_authenticated %}
    <a href="{% url 'vyj-crear' %}"> Crear Post</a>
    {% if user.avatar.imagen %}
        <a href="{% url 'vyj-avatars-actualizar' user.id %}">Actualizar Avatar</a>
    {% endif %}
        <a href="{% url 'vyj-user-actualizar' user.id %}">Actualizar Profile</a>
    <a href="{% url 'vyj-mensajes-listar' %}">Mensajes</a>
    
{% endif %}
<ul>
{% for post in object_list %}
    <li>
        {{post.publicado_el}} - - {{post.titulo}}
        {% if user.is_authenticated %}
            <a href="{% url 'vyj-borrar' post.id %}">Borrar </a>
            <a href=" {% url 'vyj-actualizar' post.id %}">Actualizar</a>
            
        {% endif%}
        <a href=" {% url 'vyj-detalle' post.id %}">Ver</a>

    
    </li>
{% endfor %}
</ul>
{% endblock %}