{% extends 'ejemplo/base.html '%}

{%block titulo %}
Lista de Vehiculos
{% endblock %}
{% block contenido%}
    <a href= "/Vehiculos/alta">Nuevo Vehiculos</a> 

    </a>
    <ul>
    {% for vehiculo in lista_vehiculos %}    
        <li> 
            Id:{{vehiculo.id}} Tipo: {{vehiculo.tipo}}, Marca: {{vehiculo.marca}}, Titular: {{vehiculo.titular}}
             <a href="/Mascota/actualizar/{{ mascota.id }}">Actualizar</a>
             <a href="/Mascota/borrar/{{ mascota.id }}">Borrar</a>
        </li>
       {% endfor %}
    </ul>
{%endblock %}
